[mysqld]
# MySQL每打开一个表，都会读入一些数据到table_open_cache缓存中，当MySQL在这个缓存中找不到相应信息时，才会去磁盘上读取。默认值64
# 假定系统有200个并发连接，则需将此参数设置为200*N(N为每个连接所需的文件描述符数目)；
# 当把table_open_cache设置为很大时，如果系统处理不了那么多文件描述符，那么就会出现客户端失效，连接不上
binlog_cache_size = 2M
# 在MySQL暂时停止回答新请求之前的短时间内多少个请求可以被存在堆栈中。
# 也就是说，如果MySql的连接数据达到max_connections时，新来的请求将会被存在堆栈中，以等待某一连接释放资源，该堆栈的数量即back_log，
# 如果等待连接的数量超过back_log，将不被授予连接资源。
back_log = 3000
# MySQL能有的连接数量。当主要MySQL线程在一个很短时间内得到非常多的连接请求，这就起作用，
# 然后主线程花些时间(尽管很短)检查连接并且启动一个新线程。back_log值指出在MySQL暂时停止回答新请求之前的短时间内多少个请求可以被存在堆栈中。
# 如果期望在一个短时间内有很多连接，你需要增加它。也就是说，如果MySQL的连接数据达到max_connections时，新来的请求将会被存在堆栈中，
# 以等待某一连接释放资源，该堆栈的数量即back_log，如果等待连接的数量超过back_log，将不被授予连接资源。
# 另外，这值（back_log）限于您的操作系统对到来的TCP/IP连接的侦听队列的大小。
# 你的操作系统在这个队列大小上有它自己的限制（可以检查你的OS文档找出这个变量的最大值），试图设定back_log高于你的操作系统的限制将是无效的。
max_connections = 1000
max_allowed_packet = 512M
# binglog 失效日期参数，超出时间将自动清除。
binlog_expire_logs_seconds = 604800
# 解决8.0客户端不支持Native问题
default_authentication_plugin = mysql_native_password
# 禁止创建指定的存储引擎
disabled_storage_engines = "myisam,memory,archive"
# 全局 TransactionID 系统变量
enforce_gtid_consistency = ON
gtid_mode = ON
# 时间戳为空时处理方式
explicit_defaults_for_timestamp = OFF
character-set-client-handshake = FALSE
collation-server = utf8mb4_0900_ai_ci
init-connect = "SET NAMES utf8mb4"
character-set-server = utf8mb4

# 解决 group by 问题
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"

[client]
default-character-set = utf8mb4